@charset "utf-8";

/* **************************
  共通
************************** */

a.alpha:hover {
  filter: alpha(opacity = 80);
  opacity: 0.8;
  img {
    filter: alpha(opacity = 80);
    opacity: 0.8;
  }
}

/* **************************
  header
************************** */

.hdr_wrap {
  background: #fff;
  margin-top: 20px;
}

.hdr_inr {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hdr_logo a:hover {
  opacity: 0.6;
}

.hdr_menu {
  ul {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    margin-top: 13px;
  }
  li {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    position: relative;
    background: #333;
    color: #fff;
    font-size: 15px;
    padding: 13px 28px 13px 20px;
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10px;
      float: right;
      content: "";
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid #e60012;
    }
    &:hover {
      background: #e60012;
      &:after {
        border-top: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #fff100;
      }
    }
  }
}

/* グローバルナビ */

.hdr_nav {
  width: 1000px;
  margin: 20px auto 25px;
  ul {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
  }
  a {
    display: block;
    border-left: 2px solid #ccc;
    &:last-child {
      border-right: 2px solid #ccc;
    }
    &:hover {
      opacity: 0.6;
    }
  }
  li {
    &:last-child {
      border-right: 2px solid #ccc;
    }
    &:before {
      content: "";
      display: inline-block;
      float: left;
      margin: 10px 10px 0 20px;
    }
  }
  .hdr_nav_corporate:before {
    background: url(../images/nav_icon01.png) no-repeat;
    background-size: 18px 22px;
    width: 18px;
    height: 22px;
  }
  .hdr_nav_franchise:before {
    background: url(../images/nav_icon02.png) no-repeat;
    background-size: 25px 21px;
    width: 25px;
    height: 21px;
  }
  .hdr_nav_system:before {
    background: url(../images/nav_icon03.png) no-repeat;
    background-size: 21px 21px;
    width: 21px;
    height: 21px;
  }
  .hdr_nav_store:before {
    background: url(../images/nav_icon04.png) no-repeat;
    background-size: 22px 20px;
    width: 22px;
    height: 20px;
  }
  .hdr_nav_recruit:before {
    background: url(../images/nav_icon05.png) no-repeat;
    background-size: 15px 18px;
    width: 15px;
    height: 18px;
  }
  .hdr_nav_csr:before {
    background: url(../images/nav_icon06.png) no-repeat;
    background-size: 21px 21px;
    width: 21px;
    height: 21px;
  }
  div {
    color: #333;
    font-size: 16px;
    float: right;
    padding: 5px 15px 0 0;
  }
  span {
    line-height: 1.3;
    display: block;
  }
  .hdr_nav_txt {
    font-size: 11px;
  }
}

/* TOPへ */

.backtotop {
  display: none;
  position: fixed;
  z-index: 9999;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  line-height: 50px;
  a {
    width: 50px;
    height: 50px;
    background: #333;
    text-decoration: none;
    color: #dc143c;
    padding: 10px;
    text-align: center;
    display: block;
    border-radius: 50%;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
  }
}

/* **************************
  パンくずリスト
************************** */

.breadcrumb {
  line-height: 1;
  padding-top: 10px;
  font-size: 12px;
  ul {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
  }
  li {
    &:after {
      content: ">";
      font-size: 12px;
      display: inline-block;
      margin: 0 6px;
    }
    &:last-child:after {
      display: none;
    }
  }
}

/* main_visual(トップページ) */

#top_page #main_visual {
  width: 100%;
  background: url(../images/bg_main01.jpg) no-repeat center #eeeeee;
  height: 410px;
  border-top: 3px solid #e60012;
}

/* main_visual(共通) */
/*
#corporate_page #main_visual,
#franchise_page #main_visual {
	position: relative;
	height: 0;
	padding-top: 16%;
	border-top: 3px solid #e60012;
	margin-top: 23px;
}*/

#main_visual {
  border-top: 3px solid #e60012;
  background: #fff;
}

#corporate_page .main_visual_inr, #franchise_page .main_visual_inr, #system_page .main_visual_inr, #stores_page .main_visual_inr, #recruit_page .main_visual_inr, #news_page .main_visual_inr, #publicity_page .main_visual_inr, #privacy_page .main_visual_inr, #sitemap_page .main_visual_inr {
  width: 1000px;
  height: 250px;
  margin: 0 auto;
  background-size: contain;
}

#corporate_page #main_visual h2, #franchise_page #main_visual h2, #system_page #main_visual h2, #stores_page #main_visual h2, #recruit_page #main_visual h2, #news_page #main_visual h2, #publicity_page #main_visual h2, #privacy_page #main_visual h2, #sitemap_page #main_visual h2 {
  padding-top: 70px;
  font-size: 30px;
  font-weight: bold;
  color: #333333;
  width: 100%;
  text-align: left;
  text-shadow: 2px 2px 1px #fff, -2px 2px 1px #fff, 2px -2px 1px #fff, -2px -2px 1px #fff;
}

#corporate_page #main_visual span, #franchise_page #main_visual span, #system_page #main_visual span, #stores_page #main_visual span, #recruit_page #main_visual span, #news_page #main_visual span, #publicity_page #main_visual span, #privacy_page #main_visual span, #sitemap_page #main_visual span {
  display: inline-block;
  font-size: 14px;
  margin-left: 14px;
}

/* main_visual(企業情報) */

#corporate_page .main_visual_inr {
  background: url(../images/corporate/main_img.jpg) no-repeat center;
}

/* main_visual(フランチャイズ) */

#franchise_page .main_visual_inr {
  background: url(../images/franchise/main_img.jpg) no-repeat;
}

/* main_visual(システム) */

#system_page .main_visual_inr {
  background: url(../images/system/main_img.jpg) no-repeat;
}

/* main_visual(店舗) */

#stores_page .main_visual_inr {
  background: url(../images/stores/main_img.jpg) no-repeat;
}

/* main_visual(採用) */

#recruit_page .main_visual_inr {
  background: url(../images/recruit/main_img.jpg) no-repeat;
}

/* main_visual(パブリシティー) */

#publicity_page .main_visual_inr {
  background: url(../images/publicity/main_img.jpg) no-repeat;
}

/* main_visual(ニュース) */

#news_page .main_visual_inr {
  background: url(../images/news/main_img.jpg) no-repeat;
}

/* main_visual(プライバシーポリシー、サイトマップ) */

#privacy_page .main_visual_inr, #sitemap_page .main_visual_inr {
  background: url(../images/privacy/main_img.jpg) no-repeat;
}

/* **************************
  トップページ
************************** */

/* contents */

#contents {
  min-width: 1000px;
  background: #eee;
  padding-bottom: 50px;
}

.cont_inr {
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
}

.secondary {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  p {
    font-size: 15px;
    color: #333;
  }
}

.cont_ttl {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* 活動概要 */

.cont_article_wrap, .cont_article dt, .cont_news dt {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
}

.cont_article {
  width: 495px;
  background: #fff;
  margin-right: 10px;
  padding: 15px 20px;
  &:last-child {
    margin-right: 0;
  }
}

.cont_article_wrap .cont_article_ttl {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  h3 {
    font-size: 17px;
    color: #333;
    font-weight: bold;
  }
}

.cont_dtl_lnk {
  color: #fff;
  position: relative;
  padding-left: 9px;
  padding-right: 20px;
  line-height: 29px;
  text-align: center;
  font-size: 14px;
  background: #333;
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6px;
    float: right;
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #e60012;
  }
}

.cont_article_wrap .cont_article_cont {
  margin-top: 15px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
}

.cont_article_img {
  margin-right: 15px;
}

.cont_article_txt {
  color: #333;
  font-size: 14px;
}

/* ニュース */

.cont_news {
  width: 1000px;
  background: #fff;
  padding: 15px 20px;
  margin-top: 25px;
  box-sizing: border-box;
}

.cont_news_wrap .cont_news_ttl {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  h3 {
    font-size: 17px;
    color: #333;
    font-weight: bold;
  }
}

.cont_news_dtl li {
  padding-top: 10px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
}

.cont_news_date {
  width: 75px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-right: 30px;
}

.cont_news_lnk {
  line-height: 20px;
  text-decoration: underline;
  font-size: 14px;
  color: #333;
}

.cont_news_txt {
  line-height: 20px;
  text-decoration: none;
  font-size: 14px;
  color: #333;
}

/* ニュースアイコン */

.cont_news_dtl li span {
  margin-left: 5px;
  color: #fff;
  height: 20px;
  box-sizing: border-box;
  font-size: 12px;
  padding: 1px 5px;
}

.cont_news_lnk-web {
  background: #2649b9;
  border-radius: 5px;
}

.cont_news_lnk-youtube {
  background: #f00;
  border-radius: 5px;
}

.cont_news_lnk-pdf {
  background: #a21918;
  border-radius: 5px;
}

/* insmart system */

.cont_insmart_wrap {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  a:hover {
    opacity: 0.6;
  }
  span {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #fff;
    padding-left: 9px;
    padding-right: 20px;
    line-height: 29px;
    text-align: center;
    font-size: 14px;
    background: #333;
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 6px;
      float: right;
      content: "";
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid #e60012;
    }
  }
}

/* 下層ページのコンテンツ部分(トップ以外) */

.article_cst_wrap {
  width: 770px;
}

/* サイドメニュー(下層) */

.side_menu {
  width: 200px;
  height: 100%;
  background: #fff;
  margin-right: 30px;
  li {
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: none;
    }
  }
  a {
    display: block;
    position: relative;
    font-size: 15px;
    padding: 18px 25px 18px 21px;
    color: #333;
  }
  .side_menu-lnk:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -4px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #e60012;
  }
  a:hover {
    opacity: 0.6;
  }
  .side_menu-lnk {
    font-weight: bold;
  }
}

/* サイドメニュー（ページ内リンク） */

.side_page-lnk:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -4px;
  width: 4px;
  height: 4px;
  border: 2px solid;
  border-color: transparent transparent #e60012 #e60012;
  transform: rotate(-135deg);
}

/* **************************
  footer
************************** */

.ftr_wrap {
  min-width: 1000px;
  color: #fff;
  font-size: 10px;
  background: #333;
  padding: 20px 0 25px;
  a {
    color: #fff;
    &:hover {
      opacity: 0.6;
    }
  }
}

.ftr_inr {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
}

.ftr_menu {
  ul {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
  }
  li {
    &:after {
      content: "|";
      float: right;
      display: block;
      padding: 0 8px;
    }
    &:last-child:after {
      display: none;
    }
  }
}

/* **************************
  企業情報
************************** */

#corporate_page {
  .article_cst {
    padding: 30px;
    background: #fff;
    border-top: 3px solid #e60012;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    h3 {
      text-align: center;
      font-weight: bold;
      font-size: 29px;
      color: #e60012;
      &:after {
        content: "";
        display: block;
        background: url(../images/artcle_arrow.png) no-repeat;
        background-size: 54px 10px;
        width: 54px;
        height: 10px;
        margin: 10px auto 0;
      }
    }
    h4 {
      font-size: 20px;
      color: #333;
      padding: 10px 0 10px 20px;
      background: #eee;
      border-left: 4px solid #f00;
      border-bottom: 1px solid #ccc;
    }
    h3 {
      margin-bottom: 30px;
    }
    img {
      float: right;
      margin-left: 15px;
      margin-bottom: 15px;
    }
    span {
      text-align: center;
      display: block;
      padding-bottom: 20px;
      font-size: 20px;
      line-height: 2;
    }
    .article_cst_tbl {
      width: 100%;
      margin: 0 auto;
      border: 1px solid #ccc;
      border-collapse: collapse;
      tr {
        border-bottom: 1px solid #ccc;
      }
      th {
        width: 160px;
        color: #333;
        font-size: 14px;
        padding: 10px 0 10px 10px;
        box-sizing: border-box;
        border-right: 1px solid #ccc;
      }
      td {
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    }
  }
  .article_map {
    border: 1px solid #ccc;
    iframe {
      width: 710px;
      height: 255px;
    }
  }
  .article_map-lnk {
    margin-top: 20px;
    text-align: right;
    a {
      display: inline-block;
      font-size: 15px;
      color: #fff;
      background: #333;
      padding: 15px 10px 15px 20px;
      &:after {
        content: "";
        display: block;
        float: right;
        width: 0;
        height: 0;
        margin-top: 7px;
        margin-left: 10px;
        border-top: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #e60012;
      }
      &:hover {
        background: #e60012;
        &:after {
          border-top: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 6px solid #fff100;
        }
      }
    }
  }
  .article_cst_history_line {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
  }
  .article_cst_history_year {
    margin-right: 20px;
  }
  .article_cst_history_block {
    dl {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-box;
      display: -webkit-flex;
      -ms-flex-pack: justify;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-around;
    }
    dt {
      width: 40px;
      text-align: right;
      font-weight: bold;
      margin-right: 20px;
    }
    dd {
      width: 550px;
    }
  }
  .article_cst_history_text p {
    font-size: 11px;
  }
  .article_blk {
    padding: 15px 30px;
    background: #fff;
    border-top: none;
    margin-bottom: 30px;
  }
  .article_seminar_table_wrap {
    border: 1px solid #ccc;
    margin-top: 30px;
    th {
      padding: 7px 0;
      text-align: center;
      background: #758192;
      border-right: 1px solid #ccc;
      box-sizing: border-box;
      vertical-align: middle;
      color: #fff;
      font-size: 14px;
      font-weight: normal;
      &:first-child {
        width: 95px;
      }
      &:nth-child(2) {
        width: 160px;
      }
      &:nth-child(3) {
        width: 380px;
      }
      &:nth-child(4) {
        width: 74px;
        border-right: none;
      }
    }
    td {
      font-size: 14px;
      color: #333;
      vertical-align: middle;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 9px;
      box-sizing: border-box;
      &:last-child {
        text-align: center;
        letter-spacing: -0.8px;
        color: #e60012;
        border-right: none;
      }
    }
    tr:last-child td {
      border-bottom: none;
    }
    .article_seminar_table-maplink {
      float: right;
      margin-top: 10px;
      padding: 0 10px;
      display: inline-block;
      background: #333;
      color: #fff;
    }
    .article_seminar_table-link {
      text-decoration: underline;
      display: block;
    }
  }
  .article_btn_wrap {
    text-align: center;
  }
  .article_btn {
    display: inline-block;
    padding: 10px 10px 10px 20px;
    margin-top: 30px;
    background: #333;
    font-size: 15px;
    color: #fff;
    &:after {
      content: "";
      display: block;
      float: right;
      width: 0;
      height: 0;
      margin-top: 7px;
      border-top: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 8px solid #e60012;
      margin-left: 10px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  .article_seminar_info_wrap {
    dl {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-box;
      display: -webkit-flex;
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
    }
    li:first-child dl {
      margin-top: 20px;
    }
    .hide-text dl {
      margin-top: 0 !important;
    }
    dt, dd {
      font-size: 14px;
      color: #333;
    }
    dt {
      margin-right: 20px;
    }
    dd a {
      text-decoration: underline;
    }
    span {
      display: inline-block;
      background: #a21918;
      border-radius: 5px;
      margin-left: 5px;
      color: #fff;
      height: 20px;
      box-sizing: border-box;
      font-size: 12px;
      padding: 1px 5px;
    }
  }
  .article_btn_wrap {
    .article_btn-seminar_info {
      display: inline-block;
      margin-top: 30px;
      padding: 6px 15px 6px 10px;
      border: 2px solid #cbcbcb;
      box-sizing: border-box;
      font-size: 15px;
      color: #333;
      font-weight: bold;
    }
    .more_btn:before {
      content: '\f067';
      font-family: "Font Awesome 5 Free";
      font-size: 12px;
      margin-right: 10px;
      color: #f00;
    }
    .close_btn:before {
      content: '\f068';
      font-family: "Font Awesome 5 Free";
      font-size: 12px;
      margin-right: 10px;
      color: #f00;
    }
  }
  .privacyBox {
    height: 200px;
    margin-bottom: 30px;
    border: 2px solid #ccc;
    iframe {
      height: 200px;
    }
  }
}

/* google map */

/* 沿革 */

/* セミナー告知 */

/* 各ページのリンクボタン */

/* セミナー会議室情報 */

/* 個人情報取り扱い */

/* **************************
  フランチャイズ
************************** */

#franchise_page {
  .article_cst_wrap {
    border-top: 3px solid #e60012;
  }
  .article_cst {
    padding: 50px 30px 0;
    background: #fff;
    &:first-child {
      padding-top: 30px;
    }
    &:last-child {
      padding-bottom: 30px;
    }
    h3 {
      text-align: center;
      font-weight: bold;
      font-size: 29px;
      color: #e60012;
      &:after {
        content: "";
        display: block;
        background: url(../images/artcle_arrow.png) no-repeat;
        background-size: 54px 10px;
        width: 54px;
        height: 10px;
        margin: 10px auto 0;
      }
    }
    h4 {
      font-size: 20px;
      color: #333;
      padding: 10px 0 10px 20px;
      background: #eee;
      border-left: 4px solid #f00;
      border-bottom: 1px solid #ccc;
    }
    h3 {
      margin-bottom: 30px;
    }
  }
  .article_block {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #ccc;
  }
  .article_block_case {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    margin-top: 0px;
    padding: 20px;
    margin-top: 30px;
    border: 2px solid #ccc;
  }
  .article_block:first-child, .article_block_case:first-child {
    margin-top: 0;
  }
  .article_img {
    margin-right: 15px;
  }
  .article_txt {
    width: 100%;
    font-size: 14px;
    dt {
      border-bottom: 1px solid #ccc;
      margin-bottom: 15px;
      padding-bottom: 5px;
    }
  }
  .article_txt_ttl {
    display: block;
    font-size: 17px;
    font-weight: bold;
  }
  .article_lnk_list {
    width: 540px;
    margin: 0 auto;
    text-align: center;
  }
  .article_lnk_item {
    a {
      display: inline-block;
      margin-right: 30px;
      border: 2px solid #ccc;
      padding: 10px 20px;
      font-size: 15px;
      color: #333;
    }
    &:last-child a {
      margin-right: 0;
    }
    a:after {
      display: block;
      content: "";
      text-align: center;
      width: 4px;
      height: 4px;
      margin: 0 auto;
      border: 2px solid;
      border-color: transparent transparent #e60012 #e60012;
      transform: rotate(-45deg);
    }
  }
  .article_btn_wrap {
    text-align: center;
  }
  .article_btn {
    display: inline-block;
    padding: 10px 10px 10px 20px;
    margin-top: 30px;
    background: #333;
    font-size: 15px;
    color: #fff;
    &:after {
      content: "";
      display: block;
      float: right;
      width: 0;
      height: 0;
      margin-top: 7px;
      border-top: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 8px solid #e60012;
      margin-left: 10px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  .article_seminar_flow_wrap {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 0;
  }
  .article_seminar_flow_block {
    width: 160px;
    border: 1px solid #cbcbcb;
    box-sizing: border-box;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      right: -45px;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      display: block;
      width: 0;
      height: 0;
      border-top: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 12px solid #e60012;
    }
    &:last-child:after {
      display: none;
    }
  }
  .article_seminar_flow_step_ttl {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    align-items: center;
    padding: 5px 10px 2px;
    font-size: 15px;
    color: #fff;
    background: #758192;
    p {
      color: #fff;
      font-size: 15px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .article_seminar_flow_block .article_seminar_flow_step_ttl {
    text-align: center;
    span {
      display: block;
      font-size: 15px;
      &:first-child {
        font-size: 11px;
        margin-bottom: -5px;
      }
    }
  }
  .article_seminar_flow_step_txt_wrap {
    font-size: 14px;
    color: #333;
    padding: 10px;
    li {
      padding-left: 1em;
      text-indent: -1em;
    }
  }
}

/* 加盟店募集 */

/* 各ページのリンクボタン */

/* 出店までの流れ */

/* **************************
  システム
************************** */

/* サポートメニュー */

#system_page {
  .article_cst {
    padding: 30px;
    background: #fff;
    border-top: 3px solid #e60012;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    h3 {
      text-align: center;
      font-weight: bold;
      font-size: 29px;
      color: #e60012;
      &:after {
        content: "";
        display: block;
        background: url(../images/artcle_arrow.png) no-repeat;
        background-size: 54px 10px;
        width: 54px;
        height: 10px;
        margin: 10px auto 0;
      }
    }
    h4 {
      font-size: 20px;
      color: #333;
      padding: 10px 0 10px 20px;
      background: #eee;
      border-left: 4px solid #f00;
      border-bottom: 1px solid #ccc;
    }
    h3 {
      margin-bottom: 30px;
    }
  }
  .support_block {
    display: flex;
    padding: 20px;
    border: 2px solid #ccc;
    margin-top: 30px;
    &:first-child {
      margin-top: 0;
    }
  }
  .support_block_img {}
  .support_block_txt {
    margin-left: 15px;
    dt {
      font-size: 17px;
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      padding-bottom: 3px;
    }
    dd {
      padding-top: 10px;
      font-size: 14px;
      color: #333;
    }
  }
  .insmart_txt {
    text-align: center;
    font-size: 20px;
    color: #333;
  }
  .article_cst_insmart_top {
    background: url(../images/system/insmart/bg_contsnts01.jpg) repeat-y;
    height: 3759px;
  }
  .article_cst_insmart_bottom {
    background: url(../images/system/insmart/bg_price01.png) repeat;
    height: 1448px;
    margin-bottom: 30px;
  }
  .article_cst_insmart_top img, .article_cst_insmart_bottom img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  .article_cst_insmart {
    text-align: center;
    margin-top: 30px;
    &:first-child {
      margin-top: 0;
    }
  }
  .block02 img {
    width: 652px;
    height: 505px;
  }
  .step01, .step02, .step03 {
    text-align: center;
  }
  .step01 img, .step02 img, .step03 img {
    width: 668px;
    height: auto;
  }
  .block04 {
    padding: 20px 60px;
    background: #106636;
  }
  .block05, .block06, .block07 {
    padding: 0 20px;
  }
  .insmart_contact_btn {
    padding: 0 60px;
    margin-top: 40px;
    &:hover {
      opacity: 0.7;
    }
  }
}

/*
#system_page .insmart_img_area {
	text-align: center;
}
#system_page .insmart_img_area li {
	margin-top: 30px;
}*/

/* インスマートシステム */

/* **************************
  店舗（不動産）
************************** */

#stores_page {
  .article_cst_wrap {
    border-top: 3px solid #e60012;
  }
  .article_cst {
    padding: 50px 30px 0;
    background: #fff;
    &:first-child, &:nth-child(2) {
      padding-top: 30px;
    }
    &:last-child {
      padding-bottom: 30px;
    }
    h3 {
      text-align: center;
      font-weight: bold;
      font-size: 29px;
      color: #e60012;
      &:after {
        content: "";
        display: block;
        background: url(../images/artcle_arrow.png) no-repeat;
        background-size: 54px 10px;
        width: 54px;
        height: 10px;
        margin: 10px auto 0;
      }
    }
    h4 {
      font-size: 20px;
      color: #333;
      padding: 10px 0 10px 20px;
      background: #eee;
      border-left: 4px solid #f00;
      border-bottom: 1px solid #ccc;
    }
    .box01 {
      margin: 30px 0;
      .pict {
        float: right;
        margin: 0 0 10px 15px;
      }
    }
  }
  .article_block {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    padding: 20px;
    border: 2px solid #ccc;
  }
  .article_block_case {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    margin-top: 0px;
    padding: 20px;
    margin-top: 30px;
    border: 2px solid #ccc;
  }
  .article_block:first-child, .article_block_case:first-child {
    margin-top: 0;
  }
  .article_img {
    margin-right: 15px;
  }
  .article_txt {
    width: 100%;
    font-size: 14px;
    dt {
      border-bottom: 1px solid #ccc;
      margin-bottom: 15px;
      padding-bottom: 5px;
    }
  }
  .article_txt_ttl {
    display: block;
    font-size: 17px;
    font-weight: bold;
  }
  .contactBox {
    padding: 20px;
    border: 2px solid #ccc;
    a {
      text-decoration: underline;
    }
    .tit {
      display: block;
      margin-bottom: 15px;
      padding-bottom: 5px;
      font-size: 17px;
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      text-align: center;
    }
    .txt01 {
      margin-bottom: 20px;
      font-size: 17px;
      text-align: center;
    }
  }
}

/* **************************
  採用
************************** */

#recruit_page {
  .article_cst_wrap {
    border-top: 3px solid #e60012;
  }
  .article_cst {
    padding: 50px 30px 0;
    background: #fff;
    &:first-child {
      padding-top: 30px;
    }
    &:last-child {
      padding-bottom: 30px;
    }
    h3 {
      margin-bottom: 30px;
      text-align: center;
      font-weight: bold;
      font-size: 29px;
      color: #e60012;
      &:after {
        content: "";
        display: block;
        background: url(../images/artcle_arrow.png) no-repeat;
        background-size: 54px 10px;
        width: 54px;
        height: 10px;
        margin: 10px auto 0;
      }
    }
    h4 {
      font-size: 20px;
      color: #333;
      padding: 10px 0 10px 20px;
      background: #eee;
      border-left: 4px solid #f00;
      border-bottom: 1px solid #ccc;
    }
  }
  .article_block {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid #ccc;
  }
  .article_block_case {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    margin-top: 0px;
    padding: 20px;
    margin-top: 30px;
    border: 2px solid #ccc;
  }
  .article_block:first-child, .article_block_case:first-child {
    margin-top: 0;
  }
  .article_img {
    margin-right: 15px;
  }
  .article_txt {
    width: 100%;
    font-size: 14px;
  }
  .article_txt_ttl {
    display: block;
    font-size: 17px;
    font-weight: bold;
  }
  .article_cst {
    span {
      text-align: center;
      display: block;
      padding-bottom: 20px;
      font-size: 20px;
      line-height: 2;
    }
    p.pict {
      margin: 30px 0;
    }
  }
  .article_btn_wrap {
    text-align: center;
  }
  .article_btn {
    display: inline-block;
    padding: 10px 10px 10px 20px;
    margin: 30px 0 20px;
    background: #333;
    font-size: 15px;
    color: #fff;
    &:after {
      content: "";
      display: block;
      float: right;
      width: 0;
      height: 0;
      margin-top: 7px;
      border-top: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 8px solid #e60012;
      margin-left: 10px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  .article_recruit_table_wrap {
    border: 1px solid #ccc;
    margin-top: 30px;
    th {
      padding: 7px 0;
      text-align: center;
      background: #758192;
      border-right: 1px solid #ccc;
      box-sizing: border-box;
      vertical-align: middle;
      color: #fff;
      font-size: 17px;
      font-weight: bold;
    }
    td {
      font-size: 14px;
      color: #333;
      vertical-align: middle;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 10px;
      box-sizing: border-box;
      &.koumoku {
        width: 90px;
        background-color: #eee;
        text-align: center;
      }
      &:last-child {
        border-right: none;
      }
    }
    tr:last-child td {
      border-bottom: none;
    }
  }
}

/* 各ページのリンクボタン */

/* 要項 */

/* **************************
  ニュース
************************** */

#news_page .article_cst {
  padding: 30px;
  background: #fff;
  border-top: 3px solid #e60012;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 29px;
    color: #e60012;
    margin-bottom: 30px;
    &:after {
      content: "";
      display: block;
      background: url(../images/artcle_arrow.png) no-repeat;
      background-size: 54px 10px;
      width: 54px;
      height: 10px;
      margin: 10px auto 0;
    }
  }
}

/* **************************
  パブリシティー
************************** */

#publicity_page {
  .article_cst_wrap {
    border-top: 3px solid #e60012;
  }
  .article_cst {
    padding: 50px 30px 0;
    background: #fff;
    &:first-child, &:nth-child(2) {
      padding-top: 30px;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 30px;
    }
    h3 {
      text-align: center;
      font-weight: bold;
      font-size: 29px;
      color: #e60012;
      &:after {
        content: "";
        display: block;
        background: url(../images/artcle_arrow.png) no-repeat;
        background-size: 54px 10px;
        width: 54px;
        height: 10px;
        margin: 10px auto 0;
      }
    }
  }
  .article_block {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid #ccc;
  }
  .article_block_case {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    margin-top: 0px;
    padding: 20px;
    margin-top: 30px;
    border: 2px solid #ccc;
  }
  .article_block:first-child {
    margin-top: 0;
  }
  .article_block_case {
    &:first-child {
      margin-top: 0;
    }
    .article_img {
      margin-right: 15px;
      text-align: center;
    }
    .article_txt .article_txt_ttl {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-box;
      display: -webkit-flex;
      -ms-flex-pack: justify;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }
  }
  .article_cst h4 {
    font-size: 20px;
    color: #333;
    padding: 10px 0 10px 20px;
    background: #eee;
    border-left: 4px solid #f00;
    border-bottom: 1px solid #ccc;
  }
  .article_block_case .article_txt {
    .article_txt_ttl {
      h5 {
        font-size: 17px;
        color: #333;
        font-weight: bold;
      }
      .cont_dtl_lnk {
        color: #fff;
        position: relative;
        padding-left: 9px;
        padding-right: 20px;
        line-height: 29px;
        text-align: center;
        font-size: 14px;
        background: #333;
        &:after {
          position: absolute;
          top: 0;
          bottom: 0;
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 6px;
          float: right;
          content: "";
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 6px solid #e60012;
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }
    .article_txt_capt {
      margin-top: 15px;
      color: #333;
      font-size: 14px;
    }
  }
}

/* **************************
  プライバシーポリシー
************************** */

#privacy_page {
  .article_cst_wrap {
    border-top: 3px solid #e60012;
  }
  .article_cst {
    padding: 50px 30px 0;
    background: #fff;
    &:first-child, &:nth-child(2) {
      padding-top: 30px;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 30px;
    }
    h3 {
      text-align: center;
      font-weight: bold;
      font-size: 29px;
      color: #e60012;
      &:after {
        content: "";
        display: block;
        background: url(../images/artcle_arrow.png) no-repeat;
        background-size: 54px 10px;
        width: 54px;
        height: 10px;
        margin: 10px auto 0;
      }
    }
  }
  .article_block {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid #ccc;
  }
  .article_block_case {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    margin-top: 0px;
    padding: 20px;
    margin-top: 30px;
    border: 2px solid #ccc;
  }
  .article_block:first-child, .article_block_case:first-child {
    margin-top: 0;
  }
  .article_cst {
    h4 {
      font-size: 20px;
      color: #333;
      padding: 10px 0 10px 20px;
      background: #eee;
      border-left: 4px solid #f00;
      border-bottom: 1px solid #ccc;
    }
    .txt {
      margin-top: 30px;
      color: #333;
      font-size: 14px;
    }
  }
}

/* **************************
  サイトマップ
************************** */

#sitemap_page {
  .article_cst_wrap {
    border-top: 3px solid #e60012;
  }
  .article_cst {
    padding: 50px 30px 0;
    background: #fff;
    &:first-child, &:nth-child(2) {
      padding-top: 30px;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 30px;
    }
    h3 {
      text-align: center;
      font-weight: bold;
      font-size: 29px;
      color: #e60012;
      &:after {
        content: "";
        display: block;
        background: url(../images/artcle_arrow.png) no-repeat;
        background-size: 54px 10px;
        width: 54px;
        height: 10px;
        margin: 10px auto 0;
      }
    }
  }
  .article_block {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid #ccc;
  }
  .article_block_case {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    margin-top: 0px;
    padding: 20px;
    margin-top: 30px;
    border: 2px solid #ccc;
  }
  .article_block:first-child, .article_block_case:first-child {
    margin-top: 0;
  }
  .article_cst {
    h4 {
      font-size: 20px;
      color: #333;
      padding: 0 0 5px;
      border-bottom: 1px solid #ccc;
    }
    ul li {
      display: inline-block;
      margin: 20px 20px 0 0;
      color: #333;
      font-size: 14px;
      &:before {
        content: "";
        display: block;
        float: left;
        width: 0;
        height: 0;
        margin-top: 5px;
        border-top: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #e60012;
      }
      a {
        text-decoration: underline;
      }
    }
  }
}
